---
import LayoutFundadores from "../../layouts/LayoutFundadores.astro";

const personData = [
  {
    Name: "Sebastian",
    Description:
      "Joven de 20 años con sueños y metas claras; nada es imposible para él. Muy orgulloso y respetuoso, con un gran gusto por la tecnología, siempre busca hacer las cosas lo mejor posible. Su actitud positiva y disciplina lo impulsan a aprender constantemente, participar en proyectos innovadores y superar cualquier obstáculo, con la convicción de que alcanzará sus objetivos y dejará una huella positiva en su entorno.",
    Image: "/img/Fundadores/sebas.jpg",
    Reverse: false,
  },
  {
    Name: "Zerpa",
    Description:
      "Centro del SENA especializado en formación técnica y tecnológica en áreas TIC, ubicado en Cartagena. Ofrece programas como desarrollo de software, redes y multimedia, con laboratorios modernos y enfoque en empleabilidad.",
    Image: "/img/Fundadores/zerpa.jpg",
    Reverse: true,
  },
  {
    Name: "Hanz Miuller",
    Description:
      "joven de 18 años amante a las matemáticas, a las cosas relacionadas con la tecnología y la computación, quiere salir adelante, cumplir sus sueños, se destaca por su amor al deporte a la lectura, aunque también tiene algunos defectos que aveces es algo irresponsable y bastante perezoso, pero a la hora de trabajar le gusta destacar",
    Image: "/img/Fundadores/hanz.jpg",
    Reverse: false,
  },
  {
    Name: "Mario",
    Description:
      "Centro del SENA especializado en formación técnica y tecnológica en áreas TIC, ubicado en Cartagena. Ofrece programas como desarrollo de software, redes y multimedia, con laboratorios modernos y enfoque en empleabilidad.",
    Image: "/img/Fundadores/mario.jpg",
    Reverse: true,
  },
  {
    Name: "Juan Diego",
    Description:
      "Centro del SENA especializado en formación técnica y tecnológica en áreas TIC, ubicado en Cartagena. Ofrece programas como desarrollo de software, redes y multimedia, con laboratorios modernos y enfoque en empleabilidad.",
    Image: "/img/Fundadores/Juandi.png",
  },
];

export const prerender = true;
---

<LayoutFundadores title="Catapulta - Fundadores" active="About">
  <section
    class="text-white flex flex-wrap gap-44 justify-center items-center w-full h-fit p-52"
    transition:name="Persons"
  >
    <div class="bg-[#00000060] rounded-2xl p-52">
      {
        personData.map((person) => (
          <div
            class={`w-fit h-fit flex ${person.Reverse ? "flex-row-reverse" : ""} gap-12 justify-center items-center`}
          >
            <div class="flex flex-col items-center justify-center w-fit h-fit gap-5 p-5 bg-[#00000060] rounded-3xl">
              <img
                class="w-[270px] aspect-[3/4] object-cover rounded-2xl"
                src={person.Image}
                alt=""
                decoding="async"
                loading="lazy"
              />
              <p class="uppercase text-2xl font-bold">{person.Name}</p>
            </div>
            <div class="w-fit h-fit p-5 bg-[#00000075] rounded-2xl">
              <p class="text-xl w-[calc((100vw/3)-100px)]">
                {person.Description}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</LayoutFundadores>
