---
import LayoutFundadores from "../../layouts/LayoutFundadores.astro";

const personData = [
  {
    Name: "Sebastian",
    Description:
      "Centro del SENA especializado en formación técnica y tecnológica en áreas TIC, ubicado en Cartagena. Ofrece programas como desarrollo de software, redes y multimedia, con laboratorios modernos y enfoque en empleabilidad.",
    Image: "/img/Heroimg-1.webp",
    Reverse: false,
  },
  {
    Name: "Zerpa",
    Description:
      "Centro del SENA especializado en formación técnica y tecnológica en áreas TIC, ubicado en Cartagena. Ofrece programas como desarrollo de software, redes y multimedia, con laboratorios modernos y enfoque en empleabilidad.",
    Image: "/img/Heroimg-2.webp",
    Reverse: true,
  },
  {
    Name: "Hanz",
    Description:
      "Centro del SENA especializado en formación técnica y tecnológica en áreas TIC, ubicado en Cartagena. Ofrece programas como desarrollo de software, redes y multimedia, con laboratorios modernos y enfoque en empleabilidad.",
    Image: "/img/Heroimg-3.webp",
    Reverse: false,
  },
  {
    Name: "Mario",
    Description:
      "Centro del SENA especializado en formación técnica y tecnológica en áreas TIC, ubicado en Cartagena. Ofrece programas como desarrollo de software, redes y multimedia, con laboratorios modernos y enfoque en empleabilidad.",
    Image: "/img/Heroimg-4.webp",
    Reverse: true,
  },
];
---

<LayoutFundadores title="Catapulta - Fundadores" active="About">
  <section
    class="text-white flex flex-wrap gap-44 justify-center items-center w-full h-fit p-52"
    transition:name="Persons"
  >
    <div class="bg-[#00000060] rounded-2xl p-52">
      {
        personData.map((person) => (
          <div
            class={`w-fit h-fit flex ${person.Reverse ? "flex-row-reverse" : ""} gap-12 justify-center items-center`}
          >
            <div class="flex flex-col items-center justify-center w-fit h-fit gap-5 p-5 bg-[#00000060] rounded-3xl">
              <img
                class="w-[270px] aspect-[3/4] object-cover rounded-2xl"
                src={person.Image}
                alt=""
              />
              <p class="uppercase text-2xl font-bold">{person.Name}</p>
            </div>
            <div class="w-fit h-fit p-5 bg-[#00000075] rounded-2xl">
              <p class="w-[calc((100vw/3)-100px)]">{person.Description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</LayoutFundadores>
