---
import LayoutFundadores from "../../layouts/LayoutFundadores.astro";

const personData = [
  {
    Name: "Sebastian Hernandez Arango",
    Description:
      "Joven de 20 años con sueños y metas claras; nada es imposible para él. Muy orgulloso y respetuoso, con un gran gusto por la tecnología, siempre busca hacer las cosas lo mejor posible. Su actitud positiva y disciplina lo impulsan a aprender constantemente, participar en proyectos innovadores y superar cualquier obstáculo, con la convicción de que alcanzará sus objetivos y dejará una huella positiva en su entorno.",
    Image: "/img/Fundadores/sebas.jpg",
    Reverse: false,
  },
  {
    Name: "Diego Alejandro Zerpa",
    Description:
      "Diego Zerpa, de 19 años, es un joven alegre, sociable y curioso, que disfruta de los videojuegos, la buena comida y el tiempo con amigos. Su interés por la fotografía refleja su sensibilidad artística y su deseo de ver el mundo desde nuevas perspectivas. Siempre en busca de aprender y experimentar, combina creatividad, entusiasmo y apertura, cualidades que le dan un gran potencial para cualquier camino que decida seguir.",
    Image: "/img/Fundadores/zerpa.jpg",
    Reverse: true,
  },
  {
    Name: "Hanz Miuller",
    Description:
      "joven de 18 años amante a las matemáticas, a las cosas relacionadas con la tecnología y la computación, quiere salir adelante, cumplir sus sueños, se destaca por su amor al deporte a la lectura, aunque también tiene algunos defectos que aveces es algo irresponsable y bastante perezoso, pero a la hora de trabajar le gusta destacar",
    Image: "/img/Fundadores/hanz.jpg",
    Reverse: false,
  },
  {
    Name: "Mario Gonzalez",
    Description:
      "Mario: un joven de 19 años, amante al arte, responsable y con muchas ganas de salir adelante y cumplir sus sueños, se destaca por su destreza, le gusta un poco la lectura y el deporte",
    Image: "/img/Fundadores/mario.jpg",
    Reverse: true,
  },
  {
    Name: "Juan Diego Perez Rojas",
    Description:
      "Juan Diego Pérez Rojas, de 20 años, es un joven tranquilo y reflexivo, apasionado por la lectura y la vida en el campo. Encuentra en los libros una fuente de conocimiento y en la naturaleza su lugar ideal, donde se siente libre y auténtico. Disfruta especialmente de alimentar vacas, tarea que realiza con cariño y compromiso. Su personalidad combina el pensamiento crítico con el trabajo manual, reflejando una conexión profunda con la tierra y un deseo constante de aprender.",
    Image: "/img/Fundadores/Juandi.png",
  },
];

export const prerender = true;
---

<LayoutFundadores title="Catapulta - Fundadores" active="About">
  <section
    class="text-white flex flex-col gap-24 justify-center items-center w-full max-w-[1200px] mx-auto p-8 md:p-20"
    transition:name="Persons"
  >
    <div class="flex flex-col gap-16 w-full pt-[150px]">
      {
        personData.map((person) => (
          <div
            class={`flex flex-col md:flex-row ${
              person.Reverse ? "md:flex-row-reverse" : ""
            } gap-8 md:gap-12 justify-center items-center`}
          >
            <div class="flex flex-col items-center justify-center gap-5 p-5 bg-[#00000060] rounded-3xl md:w-1/3">
              <img
                class="w-[270px] max-w-full aspect-[3/4] object-cover rounded-2xl"
                src={person.Image}
                alt={person.Name}
                decoding="async"
                loading="lazy"
              />
              <p class="uppercase text-2xl font-bold text-center">
                {person.Name}
              </p>
            </div>
            <div class="bg-[#00000075] rounded-2xl p-5 md:w-2/3">
              <p class="text-lg md:text-xl">{person.Description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</LayoutFundadores>
