---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout
  title="Catapulta"
  titleHero="Catapulta"
  img="img/Heroimg-3.webp"
  active="Home"
>
  <section class="w-full h-screen flex justify-center items-center gap-44">
    <div class="w-[calc(100vw/3)] flex gap-6 flex-col">
      <h3 class="text-white uppercase font-bold text-3xl">Sobre Nosotros</h3>
      <p class="text-white text-xl">
        Nos enfocamos en orientar a los jovenes sobre sus verdaderas vocaciones,
        para que puedan aprovechar al maximo el tiempo de su juventud y evitar
        la deserción de dichos jovenes sin importar donde esten escritos.
      </p>
    </div>
    <div>
      <img
        class="object-cover w-[500px] h-[500px] rounded-[100%]"
        src="/img/Sobre Nosotros.webp"
        decoding="async"
        loading="lazy"
      />
    </div>
  </section>
  <section
    class="w-full h-screen bg-cover relative flex justify-center items-center gap-44 blackbg"
  >
    <img
      class="object-cover w-full h-full absolute top-0 left-0 right-to-left"
      src="/img/Estudios.webp"
      alt=""
      decoding="async"
      loading="lazy"
    />
    <div class="w-[calc(100vw/3)] flex flex-col gap-4 z-20">
      <h3 class="text-white font-bold text-4xl uppercase">
        Salidas Estudiantiles
      </h3>
      <p
        class="text-white bg-[#CFC6EC30] p-9 rounded-4xl backdrop-blur-2xl text-xl"
      >
        Hoy en día, los jóvenes cuentan con múltiples oportunidades para
        formarse en áreas clave del desarrollo tecnológico e industrial. Los
        estudios tecnológicos ofrecen una alternativa práctica, moderna y de
        alta demanda laboral para quienes desean adquirir habilidades
        específicas en corto tiempo
      </p>
    </div>
    <div
      class="flex flex-col gap-4 bg-[#CFC6EC30] justify-center items-center p-4 rounded-2xl backdrop-blur-2xl z-20"
    >
      <p class="w-2xl text-white text-xl">
        Explorar nuevas áreas de estudio es abrir la puerta a mundos
        desconocidos llenos de posibilidades. Cada carrera, cada tecnología,
        cada ciencia ofrece una forma distinta de transformar el mundo. Las
        salidas estudiantiles no solo son una oportunidad para conocer nuevas
        instituciones, sino también para descubrir pasiones, talentos ocultos y
        caminos que quizás nunca imaginaste recorrer. Atrévete a mirar más allá,
        a soñar en grande y a construir un futuro con propósito. El conocimiento
        te lleva lejos, y hoy es el mejor momento para empezar.
      </p>
      <img
        class="w-[500px] h-[500px] object-cover rounded-[100%]"
        src="/img/Estudios2.webp"
        alt=""
        decoding="async"
        loading="lazy"
      />
      <a
        class="bg-[#F09C08] uppercase font-bold text-3xl p-5 rounded-full cursor-pointer"
        href="/Salidas Estudiantiles">Más</a
      >
    </div>
  </section>
  <section class="w-full h-screen flex justify-center items-center gap-60">
    <div class="text-white flex flex-col gap-5 w-[calc((100vw/3)-100px)]">
      <h3 class="text-4xl uppercase font-bold text-[#E76889]">Test</h3>
      <p class="text-xl">
        Elegir una carrera profesional puede ser una decisión difícil para
        muchos jóvenes. Los test de orientación vocacional son herramientas
        clave que ayudan a identificar intereses, habilidades y fortalezas
        personales, facilitando una elección más consciente y acertada.
      </p>
    </div>
    <div
      class="text-white flex flex-col gap-5 w-fit justify-center items-center rounded-3xl border-b-4 pb-7 pt-7 border-t-4"
    >
      <p class="text-xl w-[calc(100vw/3)]">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, eum? Rem
        nobis perferendis debitis at! Aut ipsum explicabo, at delectus nisi
        repudiandae ex architecto enim ea quod consectetur aliquam adipisci.
      </p>
      <img
        class="w-[650px] h-[500px] rounded-2xl object-cover"
        src="/img/Test.webp"
        alt=""
        decoding="async"
        loading="lazy"
      />
    </div>
  </section>
</Layout>

<style>
  .blackbg {
    position: relative;
  }

  .blackbg::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000065;
    position: absolute;
    top: 0;
    left: 0;
  }

  .right-to-left {
    mask-image: linear-gradient(to right, black 10%, transparent, transparent);
  }
</style>
