---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Catapulta - Salidas Estudiantiles"
  titleHero="Salidas Estudiantiles"
  img="img/Salidas.jpeg"
  active="Salidas"
>
  <h1>Salidas</h1>
</Layout>
