---
import Layout from "../layouts/Layout.astro";

const data = [
  {
    Title: "SENA CTGI",
    Desc: "Centro del SENA especializado en formación técnica y tecnológica en áreas TIC, ubicado en Cartagena. Ofrece programas como desarrollo de software, redes y multimedia, con laboratorios modernos y enfoque en empleabilidad.",
    image: "SENA.webp",
  },
  {
    Title: "UDEA",
    Desc: "Universidad pública en Medellín, destacada en salud, ciencia y tecnología. Ofrece más de 300 programas académicos y es reconocida por su excelencia en investigación y formación profesional.",
    image: "UDEA.webp",
  },
  {
    Title: "Universidad Nacional",
    Desc: "Principal universidad pública del país, con sedes en varias ciudades. Brinda una amplia oferta de pregrados y posgrados, con alto reconocimiento nacional e internacional en investigación y calidad académica.",
    image: "UNAL.webp",
  },
];

export const prerender = true;
---

<Layout
  title="Catapulta - Salidas Estudiantiles"
  titleHero="Salidas Estudiantiles"
  img="img/About.webp"
  active="Salidas"
>
  <section
    class="relative text-white flex flex-col lg:flex-row justify-center items-center w-full min-h-screen gap-10 lg:gap-32 px-6 py-16 blackbg bg-cover"
  >
    <div class="z-20 text-white max-w-xl">
      <p
        class="text-base md:text-xl bg-[#00000075] p-5 rounded-3xl backdrop-blur-2xl"
      >
        Las universidades son instituciones fundamentales para la formación
        académica y profesional, ya que brindan la oportunidad de adquirir
        conocimientos especializados en diferentes áreas del saber...
      </p>
    </div>
    <div class="z-20">
      <img
        class="w-72 h-72 md:w-[400px] md:h-[400px] object-cover rounded-2xl"
        src="/img/Estudios4.webp"
        alt=""
      />
    </div>
    <img
      class="absolute top-0 left-0 w-full h-full object-cover right-to-left"
      src="/img/Estudios3.webp"
      alt=""
    />
  </section>

  <section class="px-6 py-16 flex flex-col gap-24">
    {
      data.map((e, i) => (
        <div
          class={`flex flex-col-reverse ${
            i % 2 === 0 ? "lg:flex-row" : "lg:flex-row-reverse"
          } justify-between items-center text-white gap-10 lg:gap-20 w-fit mx-auto`}
        >
          <div class="flex flex-col gap-4 max-w-xl">
            <h1 class="text-4xl md:text-3xl font-bold uppercase">{e.Title}</h1>
            <p class="text-base md:text-xl p-5 rounded-2xl bg-[#00000075]">
              {e.Desc}
            </p>
            <a
              class="uppercase p-4 md:p-5 bg-[#F09C08] w-full text-center text-black rounded-full font-semibold"
              href={`/Universidades/${e.Title}`}
            >
              Ver Más
            </a>
          </div>
          <img
            class="w-72 h-72 md:w-[400px] md:h-[400px] object-cover rounded-3xl"
            src={`/img/${e.image}`}
            alt=""
          />
        </div>
      ))
    }
  </section>
</Layout>

<style>
  .blackbg {
    position: relative;
  }

  .blackbg::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000065;
    position: absolute;
    top: 0;
    left: 0;
  }

  .right-to-left {
    mask-image: linear-gradient(to right, black 10%, transparent, transparent);
  }
</style>
