---
import Layout from "../layouts/Layout.astro";
import SliderImages from "../components/SliderImages";

export const prerender = true;
---

<Layout
  title="Catapulta - Sobre Nosotros"
  active="About"
  titleHero="Sobre Nosotros"
  img="img/SobreNosotros2.webp"
>
  <section
    class="text-white flex justify-center items-center w-full h-screen gap-60 blackbg] bg-cover relative"
  >
    <div class="flex flex-col justify-center items-center z-20">
      <img
        class="w-[650px] h-[500px] rounded-2xl object-cover"
        src="/img/SobreNosotros3.webp"
        loading="lazy"
        decoding="async"
      />
    </div>
    <p
      class="text-xl w-[calc((100vw/3)-100px)] z-20 p-20 rounded-3xl bg-[#2D1D4E95] backdrop-blur-2xl"
    >
      ¿Aún no sabes qué carrera elegir? No estás solo. Agenda una asesoría
      personalizada y descubre qué camino va mejor contigo. ¡Explora tus
      talentos, resuelve tus dudas y empieza a construir tu futuro con
      confianza! ¡Reserva tu cita hoy y da el primer paso hacia lo que te
      apasiona!
    </p>
    <img
      class="absolute w-full h-full top-0 left-0 object-cover gradient-to-right"
      src="/img/SobreNosotros4.webp"
      alt=""
      loading="lazy"
      decoding="async"
    />
  </section>
  <section
    class="flex gap-60 text-white justify-center items-center h-[calc(100vh/2)]"
  >
    <div
      class="w-[500px] flex flex-col gap-4 justify-center items-center border-2 border-white rounded-2xl p-5 hover:border-[#E76889]"
    >
      <h3 class="text-3xl uppercase font-bold">Misión</h3>
      <p class="text-xl">
        Brindar a los jóvenes de colegios públicos la información y orientación
        necesaria sobre los requisitos y oportunidades para acceder a la
        educación superior y formarse en las áreas que realmente les apasionan.
      </p>
    </div>
    <div
      class="w-[500px] flex flex-col gap-4 justify-center items-center border-2 border-white rounded-2xl p-5 hover:border-[#E76889]"
    >
      <h3 class="text-3xl uppercase font-bold">Visión</h3>
      <p class="text-xl">
        Ser reconocidos, en el próximo año, como un proyecto referente en
        orientación vocacional para instituciones educativas del sector
        público y privado.
      </p>
    </div>
  </section>
  <SliderImages client:load />
</Layout>

<style>
  .blackbg {
    position: relative;
  }

  .blackbg::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000065;
    position: absolute;
    top: 0;
    left: 0;
  }

  .gradient-to-right {
    mask-image: linear-gradient(to left, black 10%, transparent, transparent);
  }
</style>
