---
export const prerender = true;
---

<footer
  class="w-full h-[100px] bg-[#00000040] flex justify-center items-center"
>
  <p class="text-white text-2xls">Derechos de autor reselvados a Catapulta</p>
</footer>
